:host {
  mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }

  .profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  img {
    margin-top: 10px;
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 20%;
  }
}
