<mat-nav-list>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card class="profile-card mat-elevation-z8">

      <img src="assets/img/fruits.png" alt="Image">

      <mat-card-header>
        <mat-card-title>{{ username }}</mat-card-title>
        <mat-card-subtitle>{{ email }}

        </mat-card-subtitle>
      </mat-card-header>

    </mat-card>
  </div>

  <!-- <mat-divider></mat-divider> -->

  <h2 matSubheader>Menú</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/predio">
    <mat-icon>verified_user</mat-icon>
    Predio
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/crops">
    <mat-icon>local_florist</mat-icon>
    Cultivos
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/actor">
    <mat-icon>account_box</mat-icon>
    Cuenta
  </a>

  <!-- <mat-divider></mat-divider>

  <h2 matSubheader>Ajustes</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon>
    Usuarios
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>calendar_today</mat-icon>
    Fecha
  </a> -->

</mat-nav-list>
