<mat-nav-list>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card class="profile-card mat-elevation-z8" matRipple>
      <img src="assets/img/fruits.png" alt="Image" />

      <mat-card-header>
        <mat-card-title>{{ username }}</mat-card-title>
        <mat-card-subtitle>{{ email }} </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <!-- <mat-divider></mat-divider> -->

  <h2 matSubheader>Menú</h2>

  <mat-nav-list>
    <app-menu-list-item *ngFor="let item of menu" [item]="item"></app-menu-list-item>
  </mat-nav-list>
</mat-nav-list>
