<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>¡Regístrate!</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <mat-card-content>
        <mat-form-field class="full-width-input">
          <input formControlName="name" matInput placeholder="Nombre de usuario" required>
          <!-- Mostrar validación de error -->
          <mat-error *ngIf="isValidField('name')">
            {{ getErrorMessage('name') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input formControlName="email" matInput placeholder="Correo" required>
          <!-- Mostrar validación de error -->
          <mat-error *ngIf="isValidField('email')">
            {{ getErrorMessage('email') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input formControlName="password" matInput placeholder="Contraseña" required>
          <!-- Mostrar validación de error -->
          <mat-error *ngIf="isValidField('password')">
            {{ getErrorMessage('password') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input formControlName="confirmPassword" matInput placeholder="Confirmar contraseña" required>
          <!-- Mostrar validación de error -->
          <mat-error *ngIf="isValidField('confirmPassword')">
            {{ getErrorMessage('confirmPassword') }}
          </mat-error>
        </mat-form-field>
        <!-- <mat-form-field class="full-width-input">
          <mat-label>Choose a role...</mat-label>
          <mat-select [(value)]="selected">
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{ roles }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Registrarse</button>

    </form>
  </mat-card>
</div>
