.spacer {
  margin-top: 15px;
}

.textArea {
  padding: 10px;
}

.btn-block {
  width: 100%;
}

.btns {
  margin-bottom: 3%;
}

.custom-button {
  position: absolute;
  right: 30px;
  top: 15px;
}

.spinner {
  padding: 12px;
}

.remove-btn {
  margin-right: 10px;
  background-color: red;
}

.input-search {
  margin-left: 10px;
  min-height: 64px;
  padding: 8px 24px 0;
  font-size: 18px;
}
