<mat-card>
  <mat-card-header>
    <div>
      <mat-icon>verified_user</mat-icon><span class="aligned-with-icon">Crear predio</span>
    </div>
  </mat-card-header>

  <mat-divider></mat-divider>

  <div class="spacer" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Nombres</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <div fxLaout="row wrap" fxLayoutGap="10px">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Teléfono 1</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Teléfono 2</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </div>

  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Contacto</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>contacts</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Propietario</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>domain</mat-icon>
    </mat-form-field>

    <div fxLaout="column" fxLayoutGap="20px">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Cuenta</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>account_balance</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>RUT</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>assignment</mat-icon>
      </mat-form-field>
    </div>

  </div>

  <mat-card-header class="spacer">
    <div>
      <mat-icon>location_on</mat-icon><span class="aligned-with-icon">Ubicación</span>
    </div>
  </mat-card-header>

  <div class="spacer" fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <mat-form-field class="example-full-width" appearance="fill" fxFlex>
      <input type="text" placeholder="Departamento" aria-label="Number" matInput [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <!-- <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option> -->
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" fxFlex>
      <input type="text" placeholder="Ciudad" aria-label="Number" matInput [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <!-- <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option> -->
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" fxFlex>
      <input type="text" placeholder="Vereda" aria-label="Number" matInput [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <!-- <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option> -->
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="spacer textArea" fxLayout="column">
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Observaciones</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <button type="submit" mat-raised-button color="primary" class="btn-block">
      <span>Guardar y cerrar</span>
    </button>

    <button type="submit" mat-stoked-button color="primary" class="btn-block">
      <span>Crear cultivo</span>
    </button>
  </div>

</mat-card>
<!-- [formControl]="myControl" -->
