.aligned-with-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 400;
}

.spacer {
  margin-top: 15px;
}

.textArea {
  padding: 10px;
}

.btn-block {
  width: 100%;
}

.btns {
  margin-bottom: 3%;
}

.custom-button {
  position: absolute;
  right: 30px;
  top: 15px;
}

.spinner {
  padding: 12px;
}
