.aligned-with-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 400;
}

.spacer {
  margin-top: 15px;
}

.textArea {
  padding: 10px;
}

.btn-block {
  width: 100%;
}
