<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h2 mat-doalog-title>Crear Cultivo</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="cultureForm" (ngSubmit)="onSaveCrop()">
    <div fxLayout="column" fxLayoutGap="32px">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Predio</mat-label>
        <mat-select formControlName="predio_id" required>
          <!--  <mat-option [value]="">
          Ninguno
        </mat-option> -->
          <mat-option *ngFor="let predio of states" [value]="predio.predio_id">
            {{ predio.nombre_predio }} ( {{ predio.representante_legal }})
          </mat-option>
        </mat-select>
        <!-- Mostrar componente de carga -->
        <mat-progress-spinner *ngIf="showLoadingStates" matSuffix mode="indeterminate" value="100" diameter="20">
        </mat-progress-spinner>
        <!-- Mostrar validación de error -->
        <mat-error *ngIf="isValidField('predio_id')">
          {{ getErrorMessage("predio_id") }}
        </mat-error>
      </mat-form-field>
    </div>

    <h2 class="spacer" mat-dialog-title>Datos del Producto</h2>
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
      <mat-form-field appearance="fill" fxFlex="0 1 calc(33.3% - 32px)">
        <mat-label>Tipo producto</mat-label>
        <mat-select formControlName="tipo_producto_id" required>
          <mat-option *ngFor="let productType of productTypes" [value]="productType.tipo_producto_id">
            {{ productType.descripcion }}
          </mat-option>
        </mat-select>
        <!-- Mostrar componente de carga -->
        <mat-progress-spinner *ngIf="showLoadingProductTypes" matSuffix mode="indeterminate" value="100" diameter="20">
        </mat-progress-spinner>
        <!-- Mostrar validación de error -->
        <mat-error *ngIf="isValidField('tipo_producto_id')">
          {{ getErrorMessage("tipo_producto_id") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill" fxFlex="0 1
        calc(33.3% - 32px)">
        <mat-label>Producto</mat-label>
        <input type="text" formControlName="producto_id" placeholder="Producto" aria-label="Text" matInput
          [matAutocomplete]="product" required />

        <mat-autocomplete autoActiveFirstOption #product="matAutocomplete" [displayWith]="diplayPd">
          <mat-option *ngFor="let option of filteredProducts | async" [value]="option">
            {{ option.nombre }} ({{ option.variedad }})
          </mat-option>
        </mat-autocomplete>

        <mat-progress-spinner *ngIf="showLoadingProducts" matSuffix mode="indeterminate" value="100" diameter="20">
        </mat-progress-spinner>
        <!-- Mostrar validación de error -->
        <mat-error *ngIf="isValidField('producto_id')">
          {{ getErrorMessage("producto_id") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill" fxFlex="0 1
        calc(33.3% - 32px)">
        <mat-label>Variedad</mat-label>
        <input type="text" formControlName="variedad" placeholder="Variedad" aria-label="Text" matInput
          [matAutocomplete]="variety" required />

        <mat-autocomplete autoActiveFirstOption #variety="matAutocomplete">

        </mat-autocomplete>
        <mat-error *ngIf="isValidField('variedad')">
          {{ getErrorMessage("variedad") }}
        </mat-error>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="spacer spacer-bt" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
      <button [disabled]="cultureForm.invalid || isLoading == true" type="submit" mat-raised-button color="primary"
        class="btn-block" fxFlex>
        <span *ngIf="!isLoading">Guardar y Cerrar</span>
        <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center" class="spinner">
          <mat-progress-spinner mode="indeterminate" value="100" diameter="20"></mat-progress-spinner>
        </div>
      </button>

      <button [disabled]="true" type="button" mat-stoked-button color="primary" class="btn-block" fxFlex>
        <span>Datos Visita</span>
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
