// @import '../../../../theme.scss';

:host {
  display: block;
  outline: none;

  .mat-list-item.active {
    background-color: #dcedc8;
  }

  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: #dcedc8 !important;
    }
  }
}

.mat-list-item {
  padding: 2px 0;

  .routeIcon {
    margin-right: 40px;
  }
}
