<mat-card>

  <div class="aligned-with-icon">
    <mat-icon>rate_review</mat-icon><span>Datos básicos</span>
  </div>

  <!-- <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="center center">
      Cargando...<mat-progress-spinner mode="indeterminate" value="100" diameter="50"></mat-progress-spinner>
    </div>
  </div>

  <div *ngIf="!isUpdatingData" class="spacer">
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">

      <div class="spacer">
        <mat-icon>how_to_reg</mat-icon>
        <mat-label class="aligned-with-icon">Nombres: {{ objActor.nombres }}</mat-label>
      </div>

      <div class="spacer">
        <mat-icon>person</mat-icon><span class="aligned-with-icon">Apellidos: {{ objActor.apellidos }}</span>
      </div>

    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="10px">
      <div class="spacer">
        <mat-icon>list_alt</mat-icon><span class="aligned-with-icon">N° Documento: {{ objActor.nro_documento }}</span>
      </div>
    </div>
  </div> -->
  <div *ngIf="showProgressBar">
    <mat-progress-bar class="spacer" mode="indeterminate"></mat-progress-bar>
    <span class="loadingText">Cargando...</span>
  </div>
  <div class="spacer">
    <form [formGroup]="actorForm" (ngSubmit)="onSaveActor()">
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Nombres</mat-label>
          <input type="text" formControlName="nombres" matInput placeholder="Nombres" required>
          <mat-icon matSuffix>person</mat-icon>
          <!-- Mostrar validación de error -->
          <mat-error *ngIf="isValidField('nombres')">
            {{ getErrorMessage("nombres") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Apellidos</mat-label>
          <input type="text" formControlName="apellidos" matInput placeholder="Apellidos" required>
          <mat-icon matSuffix>person</mat-icon>
          <!-- Mostrar validación de error -->
          <mat-error *ngIf="isValidField('apellidos')">
            {{ getErrorMessage("apellidos") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>N° Documento</mat-label>
          <input type="number" formControlName="nro_documento" matInput placeholder="N° Documento" required>
          <mat-icon matSuffix>list_alt</mat-icon>
          <!-- Mostrar validación de error -->
          <mat-error *ngIf="isValidField('nro_documento')">
            {{ getErrorMessage("nro_documento") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="isUpdatingData" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <button [disabled]="actorForm.invalid || isLoading == true" type="submit" mat-raised-button color="primary"
          class="btn-block">
          <span *ngIf="!isLoading">Guardar</span>
          <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center" class="spinner">
            <mat-progress-spinner mode="indeterminate" value="100" diameter="20"></mat-progress-spinner>
          </div>
        </button>

      </div>
    </form>
  </div>


  <button [disabled]="showProgressBar" mat-mini-fab color="warn" aria-label="Example icon button with a home icon"
    class="custom-button" (click)="updatingData()">
    <mat-icon>edit</mat-icon>
  </button>
</mat-card>
