:host {
  display: block;
}

.spacer {
  margin-top: 25px;
}

.btn-block {
  width: 100%;
  margin-top: 15px;
}

.custom-button {
  position: absolute;
  right: 30px;
  top: 15px;
}

.spinner {
  padding: 10px;
}

.loadingText {
  font-weight: 400;
}
