/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~ngx-toastr/toastr.css';

.aligned-with-icon {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;

  mat-icon {
    margin-right: 10px;
  }
}

.aligned-with-icon-button {
  display: flex;
  align-items: center;
  font-size: 15px;

  mat-icon {
    margin-right: 1%;
  }
}

.spacer {
  margin-top: 15px;
}

.spinner {
  padding: 12px;
}

.spacer-bt {
  margin-bottom: 12px;
}
